.footer{
    margin-top: 0;
    background-color: #171B2A;
    color: #fff;
    padding: 30px;
    .footer-content{
        padding-top: 100px;
        .description {
            img{
                width: 170px;
                height: 43px;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 1;
            }
        }
        .footer-news{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            small{
                font-size: 12px;
            }
            button{
                background-color: #FF5A3C;
                color: #fff;
            }
            .partner {
                display: flex;
                img{
                    width: 334.612px;
                    height: 37.975px;
                }
            }
        }
    }// end footer-content
}
